{% extends 'account/base_for_account.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}

<div class="mycontainer" style=" min-width: 16rem; max-width: 30rem;  margin-right: auto;  margin-left: auto;">

    <h2>Личные данные</h2>
    <p> Имя пользователя: {{ user.name }} </p>

    <p> Почта: {{ user.email }} </p>

    <p> Дата рождения: {{ user.getStringBirthDate }} </p>

    <p> Семейное положение: {{ user.getFamilyStatus }} </p>

    <a href="{{ url('edit_account') }}">Изменить</a>
</div>

{% endblock %}