{{ form_start(form) }}
    {{ form_row(form.position_id , {'row_attr':{'class':'form-group'}, 'attr' : {'class': 'form-control' }, 'label' : "Должность"}) }}
    {{ form_row(form.status , {'row_attr':{'class':'form-group'}, 'attr' : {'class': 'form-control' }, 'label' : "Статус резюме"}) }}
    {{ form_row(form.work_experience , {'row_attr':{'class':'form-group'}, 'attr' : {'class': 'form-control' }, 'label' : "Опыт работы"}) }}
    {{ form_row(form.education , {'row_attr':{'class':'form-group'}, 'attr' : {'class': 'form-control' }, 'label' : "Образование"}) }}
    {{ form_row(form.salary , {'row_attr':{'class':'form-group'}, 'label' : "Зарплата"}) }}
    {{ form_row(form.personal_quality , {'row_attr':{'class':'form-group'}, 'attr' : {'class': 'form-control' }, 'label' : "Личные качества"}) }}
    {{ form_row(form.info , {'row_attr':{'class':'form-group'}, 'attr' : {'class': 'form-control' }, 'label' : "Дополнительно"}) }}

    <button class="btn">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
