{% extends 'account/base_for_account.html.twig' %}

{% block title %}Мои резюме{% endblock %}

{% block content %}
    <h2>Резюме: {{ resume.getPositionId }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Статус резюме</th>
                <td>{{ resume.status }}</td>
            </tr>
            <tr>
                <th>Статус модерации</th>
                <td>{{ resume.moderationStatus }}</td>
            </tr>
            <tr>
                <th>Опыт работы</th>
                <td>{{ resume.workExperience }}</td>
            </tr>
            <tr>
                <th>Образование</th>
                <td>{{ resume.education }}</td>
            </tr>
            <tr>
                <th>Зарплата</th>
                <td>{{ resume.salary }}</td>
            </tr>
            <tr>
                <th>Личные качества</th>
                <td>{{ resume.personalQuality }}</td>
            </tr>
            <tr>
                <th>Дополнительно</th>
                <td>{{ resume.info }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('resume_edit', {'id': resume.id}) }}">Изменить</a>

    {{ include('resume/_delete_form.html.twig') }}
{% endblock %}
