{% extends 'account/base_for_account.html.twig' %}

{% block title %}Модерация{% endblock %}

{% block content %}
    <h2>Модерация вакансии</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Организация</th>
                <th>Должность</th>
                <th>Статус вакансии</th>
                <th>Статус модерации</th>
                <th>Опыт работы</th>
                <th>Зарплата</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for vacancy in vacancies %}
            <tr>
                <td>{{ vacancy.getOrganizationId }}</td>
                <td>{{ vacancy.getPositionId }}</td>
                <td>{{ vacancy.status }}</td>
                <td>{{ vacancy.moderationStatus }}</td>
                <td>{{ vacancy.workExperience }}</td>
                <td>{{ vacancy.salary }}</td>
                <td>
                    <a href="{{ path('moderate_show', {'id': vacancy.id}) }}">Открыть</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Нет вакансий на модерацию</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
