{% extends 'account/base_for_account.html.twig' %}

{% block title %}Модерация вакансий{% endblock %}

{% block content %}
    <h2>Вакансия: {{ vacancy.getPositionId }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Организация</th>
                <td>{{ vacancy.getOrganizationId }}</td>
            </tr>
            <tr>
                <th>Статус вакансии</th>
                <td>{{ vacancy.status }}</td>
            </tr>
            <tr>
                <th>Статус модерации</th>
                <td>{{ vacancy.moderationStatus }}</td>
            </tr>
            <tr>
                <th>Адрес места работы</th>
                <td>{{ vacancy.workPlace }}</td>
            </tr>
            <tr>
                <th>Опыт работы</th>
                <td>{{ vacancy.workExperience }}</td>
            </tr>
            <tr>
                <th>Образование</th>
                <td>{{ vacancy.education }}</td>
            </tr>
            <tr>
                <th>Зарплата</th>
                <td>{{ vacancy.salary }}</td>
            </tr>
            <tr>
                <th>Форма оплаты труда</th>
                <td>{{ vacancy.getPaymentForm }}</td>
            </tr>
            <tr>
                <th>Вид занятости</th>
                <td>{{ vacancy.getEmploymentType }}</td>
            </tr>
            <tr>
                <th>Описание работы</th>
                <td>{{ vacancy.jobDescription }}</td>
            </tr>
            <tr>
                <th>Возможность обучения</th>
                <td>{{ vacancy.learningOpportunity }}</td>
            </tr>
            <tr>
                <th>Дополнительно</th>
                <td>{{ vacancy.info }}</td>
            </tr>
        </tbody>
    </table>

{{ form_start(form) }}
    {{ form_row(form.moderation_status , {'row_attr':{'class':'form-group'}, 'attr' : {'class': 'form-control' }, 'label' : "Статус модерации"}) }}
    {{ form_row(form.refuse_reason , {'row_attr':{'class':'form-group'}, 'attr' : {'class': 'form-control' }, 'label' : "Причина отказа в публикации"}) }}

    <button class="btn">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
{% endblock %}