{% extends 'account/base_for_account.html.twig' %}

{% block title %}Мои вакансии{% endblock %}

{% block content %}
    <h2>Вакансия: {{ vacancy.getPositionId }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Организация</th>
                <td>{{ vacancy.getOrganizationId }}</td>
            </tr>
            <tr>
                <th>Статус вакансии</th>
                <td>{{ vacancy.status }}</td>
            </tr>
            <tr>
                <th>Статус модерации</th>
                <td>{{ vacancy.moderationStatus }}</td>
            </tr>
            <tr>
                <th>Адрес места работы</th>
                <td>{{ vacancy.workPlace }}</td>
            </tr>
            <tr>
                <th>Опыт работы</th>
                <td>{{ vacancy.workExperience }}</td>
            </tr>
            <tr>
                <th>Образование</th>
                <td>{{ vacancy.education }}</td>
            </tr>
            <tr>
                <th>Зарплата</th>
                <td>{{ vacancy.salary }}</td>
            </tr>
            <tr>
                <th>Форма оплаты труда</th>
                <td>{{ vacancy.getPaymentForm }}</td>
            </tr>
            <tr>
                <th>Вид занятости</th>
                <td>{{ vacancy.getEmploymentType }}</td>
            </tr>
            <tr>
                <th>Описание работы</th>
                <td>{{ vacancy.jobDescription }}</td>
            </tr>
            <tr>
                <th>Возможность обучения</th>
                <td>{{ vacancy.learningOpportunity }}</td>
            </tr>
            <tr>
                <th>Дополнительно</th>
                <td>{{ vacancy.info }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vacancy_edit', {'id': vacancy.id}) }}">Изменить</a>

    {{ include('vacancy/_delete_form.html.twig') }}
{% endblock %}