{% extends 'base.html.twig' %}

{% block title %}Поиск работы{% endblock %}

{% block body %}
    <h2>Поиск резюме</h2>

<div class="mycontainer" style=" min-width: 16rem; max-width: 30rem;  margin-right: auto;  margin-left: auto;"
     xmlns="http://www.w3.org/1999/html">
    <h3>Параметры поиска</h3>
    {{ form_start(form) }}
        {{ form_row(form.position_id , {'row_attr':{'class':'form-group'}, 'label' : "Должность"}) }}
        {{ form_row(form.salary , {'row_attr':{'class':'form-group'}, 'label' : "Зарплата"}) }}

        <button class="btn btn-info">{{ button_label|default('Найти') }}</button>
    {{ form_end(form) }}
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Должность</th>
                <th>Опыт работы</th>
                <th>Образование</th>
                <th>Зарплата</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for resume in resumes %}
            <tr>
                <td>{{ resume.getPositionId }}</td>
                <td>{{ resume.workExperience }}</td>
                <td>{{ resume.education }}</td>
                <td>{{ resume.salary }}</td>
                <td>
                    <a href="{{ path('resume_search_show', {'id': resume.id}) }}">Открыть</a>
{#                    {% if app.user is not empty %}#}
{#                        <a href="{{ path('resume_respond', {'id': resume.id})  }}">Откликнуться</a>#}
{#                    {% endif %}#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">По вашему запросу ничего не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
